@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-red: #FF7979;
    --color-green: #38CC8B;
    --color-purple: #5E54A4;
    --color-black: #3D3B48;
    --color-gray: #DEDEDE;
    --color-gray-100: #BAB7D4;
}

body,
* {
    font-family: "Poppins", serif;
}

body {
    background: url('./assets/images/bg-intro-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color-red);
    padding: 88px 24px;
}

main {
    width: 95%;
    max-width: 1108px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    gap: 45px;
}

main>div {
    flex: 1;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.52px;
    color: white;
    margin-bottom: 32px;
    max-width: 15ch;
}

h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
}

h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.27px;
    color: white;
    background-color: var(--color-purple);
    padding: 17px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 24px;
}

h3 span {
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14);
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.error-icon {
    position: absolute;
    right: 27px;
    top: 19px;
}

input {
    border-radius: 5px;
    width: 100%;
    padding: 15px 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: var(--color-black);
    border: 2px solid var(--color-gray);
    outline: none;
}

input::placeholder {
    mix-blend-mode: normal;
    opacity: 0.75;
}

input:focus {
    border-color: var(--color-purple);
    caret-color: blue;
}



button {
    border-radius: 5px;
    width: 100%;
    padding: 15px 32px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: white;
    border: 1px solid var(--color-green);
    background-color: var(--color-green);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #38cc8cab;
}


.terms_agreement {
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 0px;
    color: var(--color-gray-100);

}

.terms_agreement span {
    color: var(--color-red);
    font-weight: 700;
    cursor: pointer;
}

input.error {
    border-color: var(--color-red);
}

.error-message {
    font-weight: 500;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0px;
    color: var(--color-red);
    margin-top: 6px;
}