@media (max-width: 700px) {
    body {
        padding: 10% 2%;
    }

    main {
        flex-direction: column;
        text-align: center;
        gap: 64px;
    }

    .card {
        padding: 7%
    }

    h1 {
        font-size: 28px;
        line-height: 36px;
        margin-inline: auto;
        margin-bottom: 27px;
    }
}